{{!-- {{>header user=this.user}} --}}
<section class="masthead masthead--readability clearfix">
    <section class="content-section center hard-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        <span class="uppercase biggest">Readability Test Tool</span><br>
                    </h1>
                </div>
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <h2>
                        <span class="serif big text--white">Quick and easy way to test the readability of your
                            work.</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <span id="activeTab" style="display: none;">{{checkBy}}</span>
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8">


                <div id="tabs" class="ui-tabs-nav">
                    <ul class="center">
                        <li class="ui-state-active" onclick="changeActiveTab('direct')"><a class="btn gray"
                                href="https://www.webfx.com/tools/read-able/check.php?tab=Test+By+Url&amp;uri=https%3A%2F%2Fgithub.com%2Fwords%2Fdale-chall-formula#tabs-2"
                                data-tab="Test by Direct Link">Test by Direct Input</a></li>
                        <li id="tab-referer" onclick="changeActiveTab('file')"><a class="btn gray"
                                href="https://www.webfx.com/tools/read-able/check.php?tab=Test+By+Url&amp;uri=https%3A%2F%2Fgithub.com%2Fwords%2Fdale-chall-formula#tabs-3"
                                data-tab="Test by File Word">Test by File Word</a></li>
                    </ul>
                    <div id="tabs-2" class="ui-state-active tab-content">
                        <h1>Test by Direct Input</h1>
                        <form method="post" action="/checkByDirect" class="main-form">
                            <input type="hidden" class="js-selected-tab" name="tab" value="Test by Direct Link">
                            <fieldset>
                                <div class="form-row">
                                    <!--<label title="Paste a complete (HTML) Document here" for="directInput">Enter text to check the readability:</label><br />-->
                                    <textarea id="directInput" name="directInput" rows="10" cols="60"
                                        placeholder="Enter text to check the readability:">{{text}}</textarea>

                                    <p class="text--white italic smaller-copy"> HTML is allowed - it will be stripped
                                        from the text. </p>
                                    <input type="submit" value="Calculate Readability" class="btn blue push-top">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div id="tabs-3" class="tab-content">
                        <h1>Test by Input file</h1>
                        <form method="POST" action="/checkByFile" enctype="multipart/form-data">
                            <input type="file" name="fileData" style=" background: white; ">
                            <input type="submit" value="Calculate Readability" class="btn blue push-top">
                        </form>

                        <p class="text--white italic small-copy">This will eliminate testing for navigational elements.
                        </p>
                    </div>
                    {{#if ischecked}}
                    <div class="bg--dkblue soft">
                        {{!-- <div id="tabs-1" class="ui-state-active tab-content">

                        <h1 class="text--white">Test by URL</h1>
                        <p class="text--white small-copy">Test the readability of a web page:</p>
                        <form method="get" action="/checkByUrl" class="main-form">
                            <input type="hidden" class="js-selected-tab" name="tab" value="Test By Url">
                            <fieldset>
                                <div class="form-row">
                                    <!--<label title="Address of page to Validate" for="uri">Web Address:</label>-->
                                    <input type="text" name="uri" id="uri" size="45" value="http://">

                                    <input type="submit" value="Calculate Readability" class="btn blue push-top">
                                </div>
                            </fieldset>
                        </form>
                    --}}
                        <div class="readability-results">
                            <div class="meanScore scale-d">
                                {{#each arrTextInput}}
                                <div class="tooltip {{dataType.class}}"><span>{{text}}</span>
                                    <span class="tooltiptext">
                                        <span class="wordtype">Từ loại: {{dataType.type}}, </span>
                                        <span class="frequency">Số lần xuất hiện: {{numberExist}},</span>
                                        <span class="ranking">Thứ hạng: 100</span>
                                    </span> </div>
                                {{/each}}
                                <p class="text--blue uppercase sans-serif--bold flush-bottom">Test Results:</p>
                                <span></span>
                                <p class="flush-top small-copy" style="font-size: 20px !important;">Tài liệu bạn vừa
                                    nhập có độ khó phù hợp cho người đọc <strong>{{readabilityLevel.ability}}</strong>
                                    và độ tuổi thích hợp để đọc là <strong>{{readabilityLevel.age}}</strong></p>
                                <div style="margin-bottom: 20px">
                                    <input checked style="width: 20px; height: 20px" type="checkbox"
                                        id="displayWordType">
                                    <span style="padding-right: 1rem;"> Hiển thị từ loại</span>
                                    <input checked style="width: 20px; height: 20px" type="checkbox"
                                        id="displayFrequency">
                                    <span style="padding-right: 1rem;"> Hiển thị tần suất xuất hiện</span>
                                    <input checked style="width: 20px; height: 20px" type="checkbox"
                                        id="displayRanking">
                                    <span> Hiển thị thứ hạng</span>
                                </div>
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn">Bộ lọc</button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <div><input type="checkbox" onclick="changeColorType('Noun', 'red')"><span> Danh
                                                từ</span> </div>
                                        <div><input type="checkbox" onclick="changeColorType('Verb', 'blue')"> <span>
                                                Động từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Adjective', '#03f40b')">
                                            <span> Tính từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Pronoun', 'orange')">
                                            <span> Đại từ</span></div>
                                    </div>
                                </div>
                                <div>
                                    <span>
                                        <input style="width: 20px; height: 20px" type="checkbox">
                                        Danh từ
                                    </span>
                                    <span>
                                        <input style="width: 20px; height: 20px" type="checkbox">
                                        Tính Từ
                                    </span>
                                    <span>
                                        <input style="width: 20px; height: 20px" type="checkbox">
                                        Trạng từ
                                    </span>
                                    <span>
                                        <input style="width: 20px; height: 20px" type="checkbox">
                                        Động từ
                                    </span>
                                </div>
                                <div>
                                    Thứ hạng(1 - 100): <input style="width: 36px;"> - <input style="width: 36px;">
                                </div>
                            </div>
                            <div class="results">
                                <p class="text--blue uppercase sans-serif--bold flush-bottom">Text Statistics</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>No. of sentences</th>
                                            <td>{{dataResponse.number_of_sentence}}</td>
                                            <td class="indicator"></td>
                                        </tr>
                                        <tr>
                                            <th>No. of words</th>
                                            <td>{{dataResponse.number_of_word}}</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <th>No. of distinct words</th>
                                            <td>{{dataResponse.number_of_distinct_word}}</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <th>No. of syllable</th>
                                            <td>{{dataResponse.number_of_syllable}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>No. of distinct syllable</th>
                                            <td>{{dataResponse.number_of_distinct_syllable}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>No. of character</th>
                                            <td>{{dataResponse.number_of_character}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>No. of proper noun</th>
                                            <td>{{dataResponse.number_of_proper_noun}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>No. of distinct proper noun</th>
                                            <td>{{dataResponse.number_of_distinct_proper_noun}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="results">
                                <p class="text--blue uppercase sans-serif--bold flush-bottom">Readability Indices</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Avg. sentence length calculated by words</th>
                                            <td>{{dataResponse.aslw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-c"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Avg. sentence length calculated by syllables</th>
                                            <td>{{dataResponse.asls}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-d"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Avg. sentence length calculated by characters</th>
                                            <td>{{dataResponse.aslc}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-d"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Avg. word length calculated by syllables</th>
                                            <td>{{dataResponse.awls}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-d"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Avg. word length calculated by characters</th>
                                            <td>{{dataResponse.awlc}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-c"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Percentage of Difficult Syllables </th>
                                            <td>{{dataResponse.pds}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Percentage of Difficult Words</th>
                                            <td>{{dataResponse.pdw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Percertage of Sino Vietnamese Word</th>
                                            <td>{{dataResponse.psvw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Percertage of Diaclet Word</th>
                                            <td>{{dataResponse.pdiadw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Luong An Vinh Fomula</th>
                                            <td>{{dataResponse.LAVFomula}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Liem Thanh Nguyen and Alan B. Henkin Fomula 1982</th>
                                            <td>{{dataResponse.NH1982}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Liem Thanh Nguyen and Alan B. Henkin Fomula 1985</th>
                                            <td>{{dataResponse.NH1985}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{else}}

                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
    /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn') && event.target.id !== "myDropdown" && !$(event.target).parents(
                "#myDropdown").length) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<script>
    function changeActiveTab(tab) {
        console.log(tab);
        if (tab === 'direct') {
            $('#tabs-2').addClass('ui-state-active');
            $('#tabs-1').removeClass('ui-state-active');
            $('#tabs-3').removeClass('ui-state-active');
        } else if (tab === 'file') {
            $('#tabs-3').addClass('ui-state-active');
            $('#tabs-2').removeClass('ui-state-active');
            $('#tabs-1').removeClass('ui-state-active');
        }
    }

    function checkActiveTab() {
        const checkBy = $('#activeTab').text();
        console.log('checkBy-', checkBy);
        if (checkBy && checkBy == 'file') {
            $('#tabs-3').addClass('ui-state-active');
            $('#tabs-2').removeClass('ui-state-active');
            $('#tabs-1').removeClass('ui-state-active');
        }
    }
    checkActiveTab();
    $('#displayWordType').click(function () {
        if ($('#displayWordType').is(":checked")) {
            $('.wordtype').show();
        } else {
            $('.wordtype').hide();
        }
    });
    $('#displayFrequency').click(function () {
        if ($('#displayFrequency').is(":checked")) {
            $('.frequency').show();
        } else {
            $('.frequency').hide();
        }
    });
    $('#displayRanking').click(function () {
        if ($('#displayRanking').is(':checked')) {
            $('.ranking').show();
        } else {
            $('.ranking').hide();
        }
    });

    function hexc(colorval) {
        var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        delete(parts[0]);
        for (var i = 1; i <= 3; ++i) {
            parts[i] = parseInt(parts[i]).toString(16);
            if (parts[i].length == 1) parts[i] = '0' + parts[i];
        }
        return '#' + parts.join('');
    }

    function changeColorType(dataType, color) {
        console.log('hahahahah', dataType);
        let currentcolor = $(`.${dataType}`).css('color');
        console.log('currentcolorbefore---', currentcolor);
        currentcolor = hexc(currentcolor);
        console.log('currentcolor---', currentcolor);
        $(`.${dataType}`).css('color', currentcolor == '#666666' ? color : '#666666');
    }
</script>
{{!-- {{>footer}} --}}