{{!-- {{>header user=this.user}} --}}
<section class="masthead masthead--readability clearfix">
    <section class="content-section center hard-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        <span class="uppercase biggest">Công cụ đánh giá độ khó văn bản tiếng Việt</span><br>
                    </h1>
                </div>
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <h2>
                        <span class="serif big text--white">Cách nhanh nhất và đơn giản nhất để đánh giá độ khó văn bản của bạn</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <span id="activeTab" style="display: none;">{{checkBy}}</span>
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8">


                <div id="tabs" class="ui-tabs-nav">
                    <ul class="center">
                        <li id="tab-direct" class="ui-state-active" onclick="changeActiveTab('direct')"><a
                                class="btn gray"
                                data-tab="Test by Direct Link">Đánh giá theo văn bản nhập tay</a></li>
                        <li id="tab-referer" onclick="changeActiveTab('file')"><a class="btn gray"
                                data-tab="Test by File Word">Đánh giá theo file Word</a></li>
                    </ul>
                    <div id="tabs-2" class="ui-state-active tab-content">
                        <h1>Đánh giá theo văn bản nhập tay</h1>
                        <form method="post" action="/checkByDirect" class="main-form">
                            <input type="hidden" class="js-selected-tab" name="tab" value="Test by Direct Link">
                            <fieldset>
                                <div class="form-row">
                                    <!--<label title="Paste a complete (HTML) Document here" for="directInput">Enter text to check the readability:</label><br />-->
                                    <textarea id="directInput" name="directInput" rows="10" cols="60"
                                        placeholder="Nhập văn bản để đánh giá độ khó:">{{text}}</textarea>

                                    <p class="text--white italic smaller-copy"> HTML is allowed - it will be stripped
                                        from the text. </p>
                                    <input type="submit" value="Đánh giá độ khó văn bản" class="btn blue push-top">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div id="tabs-3" class="tab-content">
                        <h1>Đánh giá theo file word</h1>
                        <form method="POST" action="/checkByFile" enctype="multipart/form-data">
                            <input type="file" name="fileData" style=" background: white; ">
                            <input type="submit" value="Đánh giá độ khó văn bản" class="btn blue push-top">
                        </form>

                    </div>
                    {{#if ischecked}}
                    <div class="bg--dkblue soft">
                        {{!-- <div id="tabs-1" class="ui-state-active tab-content">

                        <h1 class="text--white">Test by URL</h1>
                        <p class="text--white small-copy">Test the readability of a web page:</p>
                        <form method="get" action="/checkByUrl" class="main-form">
                            <input type="hidden" class="js-selected-tab" name="tab" value="Test By Url">
                            <fieldset>
                                <div class="form-row">
                                    <!--<label title="Address of page to Validate" for="uri">Web Address:</label>-->
                                    <input type="text" name="uri" id="uri" size="45" value="http://">

                                    <input type="submit" value="Calculate Readability" class="btn blue push-top">
                                </div>
                            </fieldset>
                        </form>
                    --}}
                        <div class="readability-results">
                            <div class="meanScore scale-d">
                                {{#each arrTextInput}}
                                <div class="tooltip {{dataType.class}} wordRanking{{ranking}}"><span class="wordText">{{text}}</span>
                                    <span class="tooltiptext">
                                        <span class="wordtype">Từ loại: {{dataType.type}}, </span>
                                        <span class="frequency">Số lần xuất hiện: {{numberExist}},</span>
                                        <span class="ranking">Thứ hạng: <span class="currentRank">{{ranking}}</span></span>
                                    </span> </div>
                                {{/each}}
                                <p class="text--blue uppercase sans-serif--bold flush-bottom">Kết quả đánh giá:</p>
                                <span></span>
                                <p class="flush-top small-copy" style="font-size: 20px !important;">Tài liệu bạn vừa
                                    nhập có độ khó phù hợp cho người đọc <strong class="bold">{{readabilityLevel.ability}}</strong>
                                    và độ tuổi thích hợp để đọc là <strong class="bold">{{readabilityLevel.age}}</strong></p>
                                <div style="margin-bottom: 20px">
                                    <input checked style="width: 20px; height: 20px" type="checkbox"
                                        id="displayWordType">
                                    <span style="padding-right: 1rem;"> Hiển thị từ loại</span>
                                    <input checked style="width: 20px; height: 20px" type="checkbox"
                                        id="displayFrequency">
                                    <span style="padding-right: 1rem;"> Hiển thị tần suất xuất hiện</span>
                                    <input checked style="width: 20px; height: 20px" type="checkbox"
                                        id="displayRanking">
                                    <span> Hiển thị thứ hạng</span>
                                </div>
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn">Bộ lọc</button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <div><input type="checkbox" onclick="changeColorType('Noun', '#FF0000')"><span> Danh
                                                từ</span> </div>
                                        <div><input type="checkbox" onclick="changeColorType('Verb', '#0000FF')"> <span>
                                                Động từ</span></div>

                                        <div><input type="checkbox" onclick="changeColorType('Adjective', '#03f40b')">
                                            <span> Tính từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Pronoun', '#FFA500')">
                                            <span> Đại từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Numeral', '#A52A2A')">
                                            <span> Số từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('PronounR', '#8A2BE2')">
                                            <span> Phó từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Particle', '#FFD700')">
                                            <span> Trợ từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Determiner', '#800080')">
                                            <span> Định từ</span></div>
                                        <div><input type="checkbox" onclick="changeColorType('Adposition', '#FF00FF')">
                                            <span> Giới từ</span></div>
                                    </div>
                                </div>
                                <div class="mr-t-10 filter">
                                    <span>Thứ hạng(1 - 100):&nbsp;</span><input id="min-rank" min="1" max="100" style="width: 50px;">&nbsp;-&nbsp;<input min="1" max="100" id="max-rank" class="mg-r" style="width: 50px;">
                                    <button class="btnFilter" id="btnFilter" onclick="filterRanking()">LỌC</button>
                                </div>
                            </div>
                            <div class="results">
                                <p class="text--blue uppercase sans-serif--bold flush-bottom">Thống kê văn bản</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Số lượng câu</th>
                                            <td>{{dataResponse.number_of_sentence}}</td>
                                            <td class="indicator"></td>
                                        </tr>
                                        <tr>
                                            <th>Số từ</th>
                                            <td>{{dataResponse.number_of_word}}</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <th>Số từ riêng biệt</th>
                                            <td>{{dataResponse.number_of_distinct_word}}</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <th>Số âm tiết</th>
                                            <td>{{dataResponse.number_of_syllable}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Số âm tiết riêng biệt</th>
                                            <td>{{dataResponse.number_of_distinct_syllable}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Số kí tự</th>
                                            <td>{{dataResponse.number_of_character}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Số danh từ riêng</th>
                                            <td>{{dataResponse.number_of_proper_noun}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Số danh từ riêng riêng biệt</th>
                                            <td>{{dataResponse.number_of_distinct_proper_noun}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="results listpercent">
                                <p class="text--blue uppercase sans-serif--bold flush-bottom">Chỉ số đọc hiểu</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Độ dài trung bình câu tính theo từ</th>
                                            <td class="indices">{{dataResponse.aslw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-c"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Độ dài trung bình câu tính theo âm tiết</th>
                                            <td class="indices">{{dataResponse.asls}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-d"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>ĐỘ dài trung bình câu tính theo kí tự</th>
                                            <td class="indices">{{dataResponse.aslc}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-d"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Độ dài trung bình từ tính theo âm tiết</th>
                                            <td class="indices">{{dataResponse.awls}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-d"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>ĐỘ dài trung bình từ tính theo kí tự</th>
                                            <td class="indices">{{dataResponse.awlc}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-c"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phần trăm âm tiết khó</th>
                                            <td class="indices percent">{{dataResponse.pds}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phần trăm từ khó</th>
                                            <td class="indices percent">{{dataResponse.pdw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phần trăm chữ Hán Việt</th>
                                            <td class="indices percent">{{dataResponse.psvw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phần trăm của từ phương ngữ</th>
                                            <td class="indices percent">{{dataResponse.pdiadw}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Công thức của Lương An Vinh</th>
                                            <td class="indices">{{dataResponse.LAVFomula}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Công thức của Liem Thanh Nguyen and Alan B. Henkin 1982</th>
                                            <td class="indices">{{dataResponse.NH1982}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Công thức của Liem Thanh Nguyen and Alan B. Henkin 1985</th>
                                            <td class="indices">{{dataResponse.NH1985}}</td>
                                            <td class="indicator">
                                                <div class="scale"><span class="scale-e"></span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{else}}

                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
    /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn') && event.target.id !== "myDropdown" && !$(event.target).parents(
                "#myDropdown").length) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<script>
    function changeActiveTab(tab) {
        console.log(tab);
        if (tab === 'direct') {
            $('#tabs-2').addClass('ui-state-active');
            $('#tabs-3').removeClass('ui-state-active');
            $('#tab-direct').addClass('ui-state-active');
            $('#tab-referer').removeClass('ui-state-active');
        } else if (tab === 'file') {
            $('#tabs-3').addClass('ui-state-active');
            $('#tabs-2').removeClass('ui-state-active');
            $('#tab-referer').addClass('ui-state-active');
            $('#tab-direct').removeClass('ui-state-active');
        }
    }

    function checkActiveTab() {
        const checkBy = $('#activeTab').text();
        console.log('checkBy-', checkBy);
        if (checkBy && checkBy == 'file') {
            $('#tabs-3').addClass('ui-state-active');
            $('#tabs-2').removeClass('ui-state-active');
            $('#tabs-1').removeClass('ui-state-active');
            $('#tab-referer').addClass('ui-state-active');
            $('#tab-direct').removeClass('ui-state-active');
        }
    }
    checkActiveTab();
    $('#displayWordType').click(function () {
        if ($('#displayWordType').is(":checked")) {
            $('.wordtype').show();
        } else {
            $('.wordtype').hide();
        }
    });
    $('#displayFrequency').click(function () {
        if ($('#displayFrequency').is(":checked")) {
            $('.frequency').show();
        } else {
            $('.frequency').hide();
        }
    });
    $('#displayRanking').click(function () {
        if ($('#displayRanking').is(':checked')) {
            $('.ranking').show();
        } else {
            $('.ranking').hide();
        }
    });

    function hexc(colorval) {
        var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        delete(parts[0]);
        for (var i = 1; i <= 3; ++i) {
            parts[i] = parseInt(parts[i]).toString(16);
            if (parts[i].length == 1) parts[i] = '0' + parts[i];
        }
        return '#' + parts.join('');
    }

    function changeColorType(dataType, color) {
        console.log("changeColorType -> color", color);
        console.log('hahahahah', dataType);
        let currentcolor = $(`.${dataType}`).css('text-decoration-color');
        console.log('currentcolor before---', currentcolor);
        currentcolor = hexc(currentcolor);
        console.log('currentcolor after----', currentcolor);
        $(`.${dataType}`).css('text-decoration', currentcolor == '#666666' ? 'underline' : 'none');
        $(`.${dataType}`).css('text-decoration-color', currentcolor == '#666666' ? color : '#666666');

    }

    function converpercent() {
        let arrpercent = $('.percent');
        arrpercent.each(function (index) {
            let text = $(this).text();
            text = (parseFloat(text) * 100).toFixed(2) + '%';
            $(this).text(text);
        });
        //   for (let i = 0; i< arrpercent.length; i++) {
        //       console.log('arrpercent---', arrpercent[i]);
        // let text = arrpercent[i].text();
        //   text = parseFloat(text)*100 + '%';
        //   console.log('text ne---', text);
        //  }
    }
    converpercent();
    let listrange = [{
        min: 0,
        max: 20,
        class: 'scale-a'
    }, {
        min: 21,
        max: 40,
        class: 'scale-b'
    }, {
        min: 41,
        max: 60,
        class: 'scale-c'
    }, {
        min: 61,
        max: 80,
        class: 'scale-d'
    }, {
        min: 81,
        max: 100,
        class: 'scale-e'
    }];
    $('.listpercent table tbody > tr').each(function (index, elements) {
        console.log('hahaha---', $(this).find('td.percent').text());
        let td = $(this).find('td.percent');
        let percent = parseInt(td.text());
        if (percent) {
            listrange.forEach(range => {
                if (percent >= range.min && percent <= range.max) {
                    $(elements).find('td > div > span').addClass(range.class);
                }
            })
        }
    });
    let filter = false;
    function filterRanking() {
        console.log('min---', $('#min-rank').val());
        console.log('max---', $('#max-rank').val());
        const min = parseInt($('#min-rank').val());
        const max = parseInt($('#max-rank').val());
        if (min < 1 || min > 100 || max <1 || max > 100 || !min || !max) {
            alert('Vui lòng nhập trong khoảng 1 - 100');
            return;
        }
    let tooltip = $('.tooltip');
    $('#btnFilter').text(filter ? 'LỌC' : 'BỎ LỌC');
    tooltip.each(function(index, elements) {
        const rank = parseInt($(elements).find('.currentRank').text());
        if (rank >=min && rank <= max) {
            $(elements).find('.wordText').css('color', filter ? '#666666' : 'black');
            $(elements).find('.wordText').css('font-weight', filter ? 'normal' : 'bold');
        }
    });
    filter = !filter;
    }
</script>
{{!-- {{>footer}} --}}